.page {
  background-color: #2e8b57;
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
}

body {
  font-family: $primary-font;
}

fieldset {
  border: none;
}
//Убираю стрелки из инпута
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
}
