/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/common.scss";
@import "./global/visually-hidden.scss";

/* BLOCKS */
//common blocks//
@import "./blocks/container.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/page-nav.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
//index blocks//
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/programs__item.scss";
@import "./blocks/process.scss";
@import "./blocks/example.scss";
//catalog blocks//
@import "./blocks/main-catalog.scss";
@import "./blocks/item.scss";
@import "./blocks/more-item.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/banner.scss";
//form blocks//
@import "./blocks/main-form.scss";
@import "./blocks/personal-info.scss";
@import "./blocks/main-goal.scss";
@import "./blocks/owner-contacts.scss";
@import "./blocks/comment.scss";
@import "./blocks/more-info.scss";
@import "./blocks/user-data.scss";
