.comment {
  display: flex;
  margin: 0 0 23px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.comment__title {
  font-family: $primary-font;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 38px;
}

.comment__input--text {
  box-sizing: border-box;
  flex-grow: 1;
  font-family: $primary-font;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  border-color: #e7e7e7;
  padding: 14px 15px;


  @media (min-width: 768px) {
    font-size: 20px;
    padding: 11px 20px;
  }
}

.comment__input--text::placeholder {
  color: #444444;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
