.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding: 0 40px;
  }
}
