.contacts__title {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 18px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__text {
  font-family: $second-font;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .contacts__city {
    display: inline-block;
    margin-top: 19px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  background-size: cover;
}

.contacts__map-wrapper {
  display: block;
  width: 100%;
  min-height: 362px;
  position: relative;
}

.contacts__map-interactive {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
