.copyright__text {
  font-family: $second-font;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.copyright__link {
  display: flex;
  align-self: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link:last-child {
    margin-right: 0;
  }
}

.copyright__text:hover {
  color: #444444;
}

.copyright__text:focus {
  color: #444444;
}

.copyright__text:active {
  color: #444444;
  opacity: 0.3;
}

.copyright__icon {
  color: #666666;
}

.copyright__icon:hover,
.copyright__icon:focus {
  color: #68b738;
}

.copyright__icon:active {
  color: #68b738;
  opacity: 0.3;
}
