.hero__container {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 506px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 184px;

    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 50%;
      background-color: #68b738;
    }
  }
}

.hero__wrapper {
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }

  &::before {
    content: "";
    width: 100%;
    height: calc(100% + 164px);
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: #68b738;
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../../images/mobile-index-background.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.hero__text-wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 190px;
  }
}

.hero__button-wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 190px;
  }
}

.hero__title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  max-width: 450px;
  margin: 0;
}

.hero__slogan {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.hero__button {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 244px;
  width: 100%;
  min-height: 40px;
  background-color: #68b738;
  padding: 10px 19px;
  margin: 302px 0 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 50px;
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.hero__button:hover {
  background-color: #5eaa2f;
}

.hero__button:active {
  opacity: 0.3;
}

.hero__img {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    z-index: -1;
    bottom: -20px;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
    bottom: 52px;
    left: calc(50% + 113px);
  }
}

@media (min-width: $tablet-width) {
  .hero__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-bottom: 0;
  }

  .hero__button {
    min-height: 54px;
    font-size: 20px;
    padding: 17px 26px;
  }
}
