.item__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.item__column {
  font-family: "Lato", sans-serif;
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.item__button {
  background-color: #68B738;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
