.item {
  padding-top: 20px;
  padding-bottom: 25px;
}

.item__table {
  margin-bottom: 0;
  width: 100%;
}

.item__row {
  padding: 10px 0 8px;
  //border-bottom: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.item__column {
  font-family: "Lato", sans-serif;
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.item__column--value {
  text-align: right;
}

.item__button {
  background-color: #68b738;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  min-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.item__button:hover {
  background-color: #5eaa2f;
}

.item__button:active {
  opacity: 0.3;
}
