.item {
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 70px, #f2f2f2 70px, #f2f2f2 100%);
    padding: 0 37px 40px;
  }
}

.item__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.item__pic {
  position: relative;
  width: 50%;

  @media (min-width: $tablet-width) {
    height: 210px;
    margin: 0 auto;
    padding-top: 10px;
  }
}

.item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item__table {
  margin-bottom: 0;
  width: 100%;
}

.item__row {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.item__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    margin: 17px auto;
    margin-bottom: 14px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}

.item__info {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.item__column {
  font-family: $second-font;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.item__column--value {
  text-align: right;
  white-space: nowrap;
}

.item__button {
  background-color: #68b738;
  border: none;
  font-family: $primary-font;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  min-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.item__button:hover {
  background-color: #5eaa2f;
}

.item__button:active {
  opacity: 0.3;
}
