@media (min-width: $mobile-width) {
  .main-catalog__title {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 27px 0 41px;
  }

  .main-catalog__list {
    list-style: none;
  }

  .main-catalog__more {
    box-sizing: border-box;
    margin: 0 -20px;
    padding: 25px 20px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog__list {
    display: grid;
    column-gap: 60px;
    row-gap: 66px;
    grid-template-columns: repeat(2, 324px);
  }

  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 40px 0 89px;
  }

  .main-catalog__more {
    padding: 50px 37px 40px;
    margin: 70px 0 0; // отступ равен размеру градиента на карточках
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__list {
    column-gap: 80px;
    row-gap: 68px;
    grid-template-columns: repeat(4, 245px);
  }

  .main-catalog__title {
    margin-top: 19px;
  }

  .main-catalog__more {
    padding: 50px 38px 40px;
  }
}

//cтили для баннера
.main-catalog__banner-wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 187px 61px 43px 58px;
  margin-bottom: 35px;
  background-color: #68b738;
  background-image: linear-gradient(to right, #68b738 100%, #68b738 100%), url("../../images/cat-bag-small.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-catalog__banner-text {
  color: #ffffff;
  text-align: center;
  font-family: $second-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
}

.main-catalog__banner-text::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#icon-gift");
  width: 78px;
  height: 80px;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .main-catalog__banner-wrapper {
    width: 100%;
    min-height: 200px;
    padding: 72px 125px 60px 77px;
    margin-bottom: 75px;
  }

  .main-catalog__banner-text {
    text-align: left;
    width: 161px;
    margin: 0 0 0 auto;
  }

  .main-catalog__banner-text::before {
    width: 80px;
    height: 83px;
    top: 57px;
    left: 117px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__banner-wrapper {
    padding: 187px 42px 43px;
    margin-top: 112px;
    margin-bottom: 56px;
  }

  .main-catalog__banner-text {
    margin: 0 auto;
    text-align: center;
  }

  .main-catalog__banner-text::before {
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
  }
}
