.main-header {
  padding: 14px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0;
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.main-header__inner {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px 14px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header--index::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    background-color: #68b738;
  }
}

//подчеркивания хэдера на станицах form и catalog на мобилке
@media (min-width: $mobile-width) {
  .main-header--underline {
    @media (min-width: $mobile-width) {
      border-bottom: 1px solid #d9d9d9;
    }

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}
