@media (min-width: $mobile-width) {
  .main-catalog__title {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 27px 0 41px;
  }

  .main-catalog__list {
    list-style: none;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog__list {
    display: grid;
    column-gap: 60px;
    row-gap: 60px;
    grid-template-columns: repeat(2, 324px);
  }

  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-catalog__more {
    margin-top: 70px; // отступ равен размеру градиента на карточках
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
