.main-nav__list {
  display: none;
}


@media (min-width: $tablet-width) {
  .main-nav__list {
    margin-top: 0;
    width: 480px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 550px;
  }
}
