.main-header {
  padding: 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

.main-header--index {
  position: relative;


  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      background-color: #68b738;
    }
  }
}
