.main-form__title-wrapper {
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}


.main-form__title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 55px;
  }
}

.main-form__action-text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 326px;
    font-size: 20px;
    line-height: 30px;
  }
}
