.more-item {
  box-sizing: border-box;
}

.more-item__wrapper {
  padding: 104px 20px 17px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 113px;
    margin-bottom: 62px;
  }
}

.more-item__title {
  position: relative;
  color: #111111;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 9px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin: 0 auto 23px;
  }
}

.more-item__title::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#icon-plus");
  width: 30px;
  height: 30px;
  top: -54px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    top: -109px;
  }
}

.more-item__subtitle {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.more-item__button {
  background-color: #f2f2f2;
  font-family: $primary-font;
  border: none;
  color: #444444;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  min-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.more-item__button:hover,
.more-item__button:active {
  background-color: #ebebeb;
}

@media (min-width: $tablet-width) {
  .more-item {
    border: 2px solid #f2f2f2;
    text-align: center;
    padding: 50px 37px 36px;
  }

  .more-item__subtitle {
    width: 169px;
  }
}
