.more-info {
  padding: 0;
  margin: 0 0 26px;

  @media (min-width: $tablet-width) {
    margin: 0 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 28px;
  }
}

.more-info__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    column-gap: 49px;
  }
}

.more-info__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

//делаю кастомные чекбоксы
.more-info__item {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }
}

.more-info__label {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 62px;
  }
}

.more-info__input {
  position: absolute; //убирает пробел перед лейблом
  appearance: none;
}

.more-info__input-custom {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  margin-top: 5px;
  margin-left: -45px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: -62px;
    width: 40px;
    height: 40px;
  }
}

//checked
.more-info__input:checked + .more-info__input-custom {
  background-image: url("../../images/icons/stack.svg#tick-active-hover");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
}

//disabled
.more-info__input:disabled + .more-info__input-custom {

  background-image: url("../../images/icons/stack.svg#tick-disabled");
}
