.owner-contacts__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.owner-contacts__list {
  list-style: none;
}

.owner-contacts__label {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.owner-contacts__input {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
