.owner-contacts {
  padding: 0;
  margin: 0 0 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.owner-contacts__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: calc((100% - 80px) / 2); //80px отсуп между колонками
    margin-bottom: 0;
  }
}

.owner-contacts__item-wrapper {
  display: flex;
  align-items: center;
}

.owner-contacts__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
  }
}

.owner-contacts__list {
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
  }
}

.owner-contacts__label {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 11px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  box-sizing: border-box;
  font-family: $primary-font;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 45px;
  padding-left: 19px;

  @media (min-width: 768px) {
    font-size: 20px;
    height: 52px;
    padding-left: 23px;
  }
}

.owner-contacts__input:hover {
  border: 1px solid #cdcdcd;
}

.owner-contacts__input:focus {
  outline: none;
  border: 2px solid #444444;
}

.owner-contacts__input::placeholder {
  color: #444444;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.owner-contacts__input--email {
  background-image: url("../../images/icons/stack.svg#icon-envelope");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center right 12px;
  padding-right: 44px;

  @media (min-width: 768px) {
    //background-position: ;
  }

  @media (min-width: 1440px) {
    //background-position: ;
  }
}

.owner-contacts__input--email:focus {
  background-image: url("../../images/icons/stack.svg#icon-envelope-green");
}

.owner-contacts__input--phone {
  background-image: url("../../images/icons/stack.svg#icon-phone");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center right 12px;
  padding-right: 44px;

  @media (min-width: 768px) {
    //background-position: ;
  }

  @media (min-width: 1440px) {
    //background-position: ;
  }
}

.owner-contacts__input--phone:focus {
  background-image: url("../../images/icons/stack.svg#icon-phone-green");
}
