.owner-contacts__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.owner-contacts__list {
  list-style: none;
}

.owner-contacts__label {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.owner-contacts__input-email {
  box-sizing: border-box;
  font-family: $primary-font;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 217px;
  height: 45px;
  padding-left: 15px;
  padding-right: 45px;

  @media (min-width: 768px) {
    font-size: 20px;
    width: 552px;
    height: 52px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    width: 494px;
    height: 52px;
  }
}

.owner-contacts__input-phone {
  box-sizing: border-box;
  color: #444444;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 200px;
  height: 45px;

  @media (min-width: 768px) {
    font-size: 20px;
    width: 530px;
    height: 52px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    width: 472px;
    height: 52px;
  }
}

.owner-contacts__input-email::placeholder,
.owner-contacts__input-phone::placeholder {
  color: #444444;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.owner-contacts__item-wrapper-email {
  position: relative;
}

.owner-contacts__item-wrapper-email:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../../images/icons/stack.svg#icon-envelope");

  @media (min-width: 768px) {
    top: 16px;
    right: 316px;
  }

  @media (min-width: 1440px) {
    top: 16px;
    right: 1274px;
  }

}

