.personal-info__list {
  list-style: none;
}

.personal-info__label {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.personal-info__input {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.personal-info__wrapper {
  position: relative;
}
