.process {
  margin-bottom: 53px;
}

.process__title {
  color: #000000;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 40px;
}

.process__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.process__item {
  color: #444444;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-shrink: 1;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    vertical-align: middle;
    flex-shrink: 0;
    background-size: 30px 32px;
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
  }

  &--powder::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
  }

  &--eat::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
  }

  &--clock::before {
    background-image: url("../../images/icons/stack.svg#icon-clock");
  }
}

@media (min-width: $tablet-width) {
  .process {
    margin-bottom: 47px;
  }

  .process__list {
    display: flex;
    flex-wrap: wrap;
  }

  .process__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 74px;
  }

  .process__item {
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-right: 75px;
    margin-bottom: 83px;
    position: relative;
    display: block;
    min-width: 324px;
    width: 42%;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n-1) {
      margin-right: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      display: block;
      margin-bottom: 32px;
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .process {
    margin-bottom: 5px;
  }

  .process__item {
    padding-bottom: 20px;
    padding-right: 0;
    margin-right: 80px;
    margin-bottom: 30px;
    min-width: inherit;
    width: 245px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
