.programs__list {
  list-style: none;
}

.programs__title {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.programs__link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__link:active {
  opacity: 0.3;
}

.slim {
  background-image: url("../../images/icons/stack.svg#cat-slim");
  width: 36px;
  height: 50px;
}

.pro {
  background-image: url("../../images/icons/stack.svg#cat-pro");
  width: 67px;
  height: 28px;
}
