.programs {
  margin: 20px 0;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 73px;
    margin-top: 82px;
  }

  .programs__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
