.programs {
  margin: 0 0 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 73px;
  }

  .programs__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
