.site-list {
  list-style: none;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 11px;
  padding-bottom: 12px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    padding-bottom: 0;
  }

  //@media (min-width: $tablet-width) {
  //  padding-top: 0;
  //  padding-bottom: 0;
  //}
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .site-list__item {
    margin-left: 35px;
    border: none;
  }

  .site-list__link {
    position: relative;
    font-size: 18px;
    line-height: 24px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .site-list__link.site-list__link--current::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #68b738;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 4px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--index {
    color: #ffffff;
    font-size: 20px;
  }

  .site-list__link {
    font-size: 20px;
  }

  .site-list__link.site-list__link--current.site-list__link--index::after {
    border-bottom: 2px solid #ffffff;
  }
}
