.site-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .site-list__item {
    margin-left: 33px;
  }

  .site-list__link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--index {
    color: #ffffff;
    font-size: 20px;
  }

  .site-list__link {
    font-size: 20px;
  }
}
