.social {
  margin-bottom: 20px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}

.vk-icon {
  mask-image: url("../../images/icons/stack.svg#icon-vk");
  background-color: #666666;
}

.vk-icon:hover {
  background-color: #68b738;
}

.vk-icon:focus {
  background-color: #68b738;
}

.vk-icon:active {
  background-color: #68b738;
  opacity: 0.3;
}

.youtube-icon {
  mask-image: url("../../images/icons/stack.svg#icon-youtube");
  background-color: #666666;
}

.youtube-icon:hover {
  background-color: #68b738;
}

.youtube-icon:focus {
  background-color: #68b738;
}

.youtube-icon:active {
  background-color: #68b738;
  opacity: 0.3;
}

.tg-icon {
  mask-image: url("../../images/icons/stack.svg#icon-telegram");
  background-color: #666666;
}

.tg-icon:hover {
  background-color: #68b738;
}

.tg-icon:focus {
  background-color: #68b738;
}

.tg-icon:active {
  background-color: #68b738;
  opacity: 0.3;
}
