@media (min-width: $desktop-width) {
  .user-data__wrapper-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }

  .user-data__column {
    width: calc((100% - 80px) / 2); //80px отсуп между колонками
    height: auto;
  }
}

.user-data__wrapper--low {
  @media (min-width: 768px) {
    display: flex;
  }
}

.user-data__button {
  background-color: #68b738;
  font-family: $primary-font;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    min-height: 54px;
    width: 284px;
    margin-right: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 80px;
  }
}

.user-data__button:hover {
  background-color: #5eaa2f;
}

.user-data__button:active {
  opacity: 0.3;
}

.user-data__disclaimer {
  font-family: $second-font;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 32px;

  @media (min-width: 768px) {
    font-size: 16px;
    margin-top: 6px;
    align-self: center;
  }
}
